/*This is the external style sheet for lab 3*/

h1{
  color:rgb(0, 0, 255);
  background-color:#ADD8E6;
  font-size:6vh;
}

h2{
  font-size:0.8cm;
}

.button{
  color:#FF0000;
}

/*maybe change the id if this doesn't work out like I think*/
#rank{
  color:bronze;
  font-size:2ch;
}

*{
  text-align:center;
}

[class|="best"] {
  font-size:1rem;
  color: hsl(0, 0%, 50%);
  border-style:dotted;
  border-color:pink;
  border-width:medium;
  border-radius:5px;
}

p{
  font-size:0.2in;
}

a:hover {
  color: red;
}

